include .coveragerc
include pyproject.toml
include pytest.ini
include towncrier.toml
include LICENSE
include NOTICE
include CHANGES.rst
include README.rst
graft propcache
graft packaging
graft docs
graft CHANGES
graft requirements
graft tests
global-exclude *.pyc
global-exclude *.cache
exclude src/propcache/*.c
exclude src/propcache/*.html
exclude src/propcache/*.so
exclude src/propcache/*.pyd
prune docs/_build

# TODO: Remove this once a final Cython release is out
# that supports free-threaded Python.
graft scripts
